:root {
  --highlight: #4dffa6;
}

body {
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18;
  margin: 0;
}

  /* HEADER */

  header {
    background: #333;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    /* justify-content: center; */
    list-style-type: none;
    margin: 0;
    padding: 0px;
  }

  .pages {
    border-color: white;
  }

  .pages a {
    color: #f2f2f2;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.1s;
  }

  .pages a:hover {
    background: #ddd;
    color: black;
  }

  .pages a.current {
    background-color: var(--highlight);
    color: black;
  }

  h1 {
    padding: 10px 5px 0px 15px;
  }

  h2 {
    padding: 10px 5px 0px 15px;
  }

  /* SECTION */

  section {
    display: flex;
    padding: 15px;
  }

  section span {
    display: table;
  }

  .contact-table {
    margin: 10px;
    padding: 20px;
  }

  table {
  /*  border: solid black 3px; */
    margin: 5px;
    padding: 5px;
  }

  .table-entry-title {
    padding: 10px;
    text-align: left;
  }

  td {
    padding: 5px 5px 5px 10px;
  }

  .center {
  display: "flex";
  align-items: center; // vertically center
  justify-content: center; // horizontally center
}

  .button-update {
    display: none;
  }

  p {
    padding: 10px 5px 5px 15px;
  }

  /* MAIN TEXT */

  .maintext {
	margin-top: 10px;
	padding: 10px 20px 10px 20px;
	background-color: #f5fcf5;
}

a {
  padding: 0px 5px 0px 5px;
}

.reg {
  padding: 0px;
}

.hiddentext {
  visibility = invisible;
}

  /* FOOTER */

  footer {
    color: black;
/*    background: var(--highlight); */
    padding: 150px 20px;
    width: 230px;
    font-size: 16;
  }


  /* JAVASCRIPT CLASSES */

#dataTable {
	display: block;
}

.dataEntry {
	padding = 5px;
	background-color: #ffffff;
}

.dataEntry:hover {
	background-color: #a300cc;
}

.dataEntrySelected {
	background-color: #3366ff;
}
